{% extends 'base.html.twig' %}

{% block title %}New JobOffer{% endblock %}

{% block body %}
    <h1>Create new JobOffer</h1>

    {{ include('job_offer/_form.html.twig') }}

    <a href="{{ path('job_offer_index') }}">back to list</a>
{% endblock %}
